[Desktop Entry]
Version=1.0
Name=Image Converter
Comment=Converts common image types into .png & Common video types to .mp4
Exec=/path/to/your/IMG_Converter.sh
Icon=/path/to/icon.png
Terminal=false
Type=Application
Categories=Graphics;Utility;